/*初始化通用*/
	* {
		margin: 0;
		padding: 0;
	}
	ul {
		list-style: none;/*去掉列表样式小点*/
	}
	/*清除浮动*/
	.clearfix:before,.clearfix:after {
		display: table;
		content: "";
	}
	.clearfix:arter {
		clear: both;
	}
	.clearfix {
		*zoom: 1;
	}
	.container {  /* 因为我们的版心宽度都是1200 都要居中对齐 我们就声明一个公共类 */
		width: 1200px;
		margin: 0 auto;
	}
	input {
		border: 0;  /* 所有的表单边框为0 */
		box-sizing: border-box; /* CSS3盒子模型 border 和 padding 都包含到 width 里面去 */
	}
	header {
		height: 100px;
	}
	nav {
		width: 1366px;
		height: 42px;
		margin: 0 auto;
	}
	body {
		background-color: #f3f5f7;
	}
	/*给链接去下划线*/
	a {
		color: #050505;
		text-decoration: none;
	}


    .logo {
         float: left ;
    }
    .navbar {
    	float: left;
    	height: 42px;
    	line-height: 42px;
    	margin-left: 50px;
    }
    .navbar li {
    	float: left;
    	
    }
    .navbar li a {
    	padding: 0 10px; /*  上下 0  左右 8像素 */
		display: block; /*  a是行内元素，给高需要转换块级 */
		height: 42px;
    }
    .navbar li a:hover {
		border-bottom: 2px solid #00a4ff;  /* 鼠标放入底边框 */
    }
    .search {
    	width: 410px;
    	height: 38px;
    	border: 1px solid #00a4ff;
    	float: right;
    }
    .search input[type=text] {
    	width: 360px;
    	height: 38px;
    	padding-left: 20px;
    	float: left;
    	border-width: 0;
    }
    .search input[type=submit] {
    	width: 50px;
    	height: 38px;
    	float: left;
    	background: #00a4ff url(images/search_06.png) center center no-repeat;
    }
    .personal {
    	float: right;
    	height: 42px;
    	line-height: 42px;
    	margin: 0 15px 0 35px;
    }
    .personal img {
    	margin: 0 8px;
    }
    /*banner部分*/
    .banner {
    	height: 420px;
    	background-color: #1c036c;
    }
    .banner-in {
    	height: 420px;
    	background: url(images/banner_03.png) 0 0 no-repeat;
        position: relative;
    }
    .slidebar {
    	height: 420px;
    	width: 190px;
    	background: rgba(0,0,0,0.3);
    	float: left;
    }
    .slidebar li a {
    	color: #fff;
    	font-size: 14px;
    	padding: 0 20px;
    	display: block;
    	line-height: 45px;
    }
    .slidebar li a:hover {
    	color: #00a4ff;
    }
    .slidebar a span {
    	float: right;
    	font-family: arial;
    }
    .timetable {
    	float: right;
    	width: 230px;
    	height: 300px;
    	background-color: #fff;
    	margin-top: 50px;
    }
    .timetable dt {
        height: 50px;
        line-height: 50px;
        background-color: #9bceea;
        text-align: center;
        color: #fff;
        font-weight: 700;
        font-size: 16px;
        letter-spacing: 2px;/*设置字间距*/
        margin-bottom: 5px;
    }
    .timetable dd {
    	width: 193px;
    	height: 60px;
    	margin: 0 auto;
    	border-bottom: 1px solid #ccc;
    	padding-top: 12px;
    	box-sizing: border-box;
    }
    .timetable dd:last-child {
    	border: 0;
    }
    .timetable dd h4 {
    	font-size: 16px;
    	font-weight: normal;
    }
    .timetable dd p {
    	color: #a5a5a5;
        font-size: 14px;
    }
    .timetable dd a {
    	height: 38px;
    	border: 1px solid #00a4ff;
    	display: block;
    	text-align: center;
    	line-height: 38px;
    	color: #00a4ff;
    	font-weight: 700;
    }
    .timetable dd a:hover {
    	background-color: #00a4ff;
    	color: white;
    }
    .circle {
        width: 180px;
        height: 22px;
        position: absolute;
        bottom: 10px;
        left: 50%;
        margin-left: -90px;
    }
    .circle li {
        float: left;
        width: 12px;
        height: 12px;
        background: rgba(255,255,255,0.4);
        margin: 6px 8px;
        border-radius: 50%;
    }
    .circle .current {
        width: 19px;
        border-radius: 10px;
        background-color: #fff;
    }
    .recommend {
    	height: 60px;
    	line-height: 60px;
    	background-color: #fff;
    	margin-top: 8px;
    	box-shadow: 0 2px 2px rgba(0,0,0,0.2); 
    	/* 盒子阴影 水平位置  垂直位置  模糊距离  影子颜色 */
    }
    .recommend a {
    	padding: 0 30px;
    	border-right: 1px solid #ccc;
    }
    .recommend a:hover {
    	color: #00a4ff;
    }
    .recommend a:first-child {
    	color: #00a4ff;
    }
    .recommend a:last-child {
    	border: 0;
    	float: right;
    	color: #00a4ff;
    	font-size: 14px;
    }